body {
    font-size: 16px;
    color: #fff;
    background-color: #A3080B;
    font-family: 'Oxygen', sans-serif;
}

#header-nav {
    background-color: #fff;
    border-radius: 0;
    border: 0;
    height: 152px;
}

#logo-img{
    background: url('../kfc-logo-free-download-PNG_2_150x130.png') no-repeat;
    width: 150px;
    height: 130px;
    margin: 10px 15px 10px 0;
}

.navbar-brand{
    padding-top: 25px;
}

.navbar-brand h1 {
    font-family: 'Lora', serif;
    color: #A3080B;
    font-size: 1.5em;
    text-transform: uppercase;
    font-weight: bold;
    text-shadow: 1px 1px 1px #222;
    margin-top: 0;
    margin-bottom: 10px;
    line-height: .75;
}

.navbar-brand a:hover, .navbar-brand a:focus {
    text-decoration: none;
}
.navbar-brand p {
    color: #000;
    text-transform: uppercase;
    font-size: .7em;
    margin-top: 15px;
}
.navbar-brand p span {
    vertical-align: middle;
    color: #000;
    font-family: 'Oxygen', sans-serif;
    text-shadow: 1px 1px 1px #222;
}

#nav-list {
    margin-top: 10px;
    font-family: 'Oxygen', sans-serif;
    background-color: white;
}
#nav-list a {
    color: #A3080B;
    text-align: center;
}
#nav-list a span {
    font-size: 2.0em;
}
#phone {
    margin-top: 6px;
}
#phone a {
    text-align: right;
    padding-bottom: 0;
}
#phone div {
    color: #A3080B;
    text-align: right;
    padding-right: 15px;
    font-size: 1.1em;
}